<h3 class="center">Decision Table</h3>
<table class="table">
    <thead class="header-css" class="thead-dark">
       
        <tr>
            <th scope="col">Condition X</th>
            <th scope="col">Condition Y</th>
            <th scope="col">Not X (!X)</th>
            <th scope="col">Not Y (!Y)</th>
            <th scope="col">X && Y</th>
            <th scope="col">X || Y</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row">
            <td>{{r1condX}}</td>
            <td>{{r1condY}}</td>
            <td>{{!r1condX}}</td>
            <td>{{!r1condY}}</td>
            <td>{{r1condX && r1condY}}</td>
            <td>{{r1condX || r1condY}}</td>
        </tr>
        <tr scope="row">
            <td>{{r2condX}}</td>
            <td>{{r2condY}}</td>
            <td>{{!r2condX}}</td>
            <td>{{!r2condY}}</td>
            <td>{{r2condX && r2condY}}</td>
            <td>{{r2condX || r2condY}}</td>
        </tr>
        <tr scope="row">
            <td>{{r3condX}}</td>
            <td>{{r3condY}}</td>
            <td>{{!r3condX}}</td>
            <td>{{!r3condY}}</td>
            <td>{{r3condX && r3condY}}</td>
            <td>{{r3condX || r3condY}}</td>
        </tr>
        <tr scope="row">
            <td>{{r4condX}}</td>
            <td>{{r4condY}}</td>
            <td>{{!r4condX}}</td>
            <td>{{!r4condY}}</td>
            <td>{{r4condX && r4condY}}</td>
            <td>{{r4condX || r4condY}}</td>
        </tr>
    </tbody>
</table>