<mat-toolbar color="warn"class="toolbar">

    <div class=row-one>
        <div class="container-padding">
            <span>R1C1</span>
        </div>
        <div id="r1c2" class="container-padding">
            <button (click)="navigateTo('')"class="nav-button" type="button" mat-raised-button color="accent">
                Decision Table
            </button>
            <button (click)="navigateTo('courses')" class="nav-button" type="button" mat-raised-button color="accent">
                Courses
            </button>
        </div>
        <div class="container-padding">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        </div>
    </div>
</mat-toolbar>